.btn {
	border-radius: 0;
	font-weight: 800;
}

.btn-outline-noborder {
	border-color: rgba(255,255,255, 0) !important;
}
.btn-outline-primary, .btn-outline-secondary {
	border-width: 2px;
}

.fineprint {
	clear: both;
	color: $gray-600;
    margin-top: 1rem;
    text-style: italic;
    font-size: 1rem;
}
a .fineprint {
    color: #BD6498;
}

.btn__prevnext {
	text-transform: uppercase;
}

.removemodal {
	float: right;
}