.row__cards {
	// margin-bottom: 2rem;
	.card {
		margin-top: 1rem;
	}
}

.card {
	border-top-left-radius: 6rem;
	border-color: $primary;
    overflow: hidden;
    .card-header {
    	background: $primary-muted;
    }
    .card-title {
    	text-align: right;
    }
    img {
    	margin: 0 auto;
    	display: block;
    	max-width: 100%;
    	height: auto;
    }
    .card-description {
    	text-align: right;
    	height: 4rem;
    	font-size: .9rem;
    }
    .card-footer {
    	a {
    		color: $primary;
    	}
    }
    .card-icons{
    	float: right;
    	height: 25px;
    	min-width: 2px;
    	overflow: hidden;
    }
    .card-closeicon {
    	float: right;
    	width: 0;
    	transition: all .5s;
    }
}
.card:hover .card-closeicon {
	width: 1.5rem;
}

.card__dashboard {
	text-align: right;
	min-height: 11rem;
	ul {
		list-style: none;
	}
}

.card__login {
	// margin-top: 4rem;
	border-top-right-radius: 0;
	// border-radius: 0.25rem;
	.card-header {
		text-align: center;
		background: $primary-muted;
		color: $primary;
	}
}

.card__question {
	.card-title {
		text-align: right;
	    position: absolute;
	    top: 0;
	    right: 0;
	    background: $primary;
	    color: white;
	    padding: 0.7rem 2rem;
	}
	.card-text {
		margin-top: 1rem;
	}
	.card-footer {
		text-align: center;
		p {
			margin-bottom: 0;
		}
	}
}

.card__3 {
	border-top-left-radius: 3rem;
	img {
		padding: 1rem 4rem;
	}
}
.card__2 {
	border-top-left-radius: 3rem;
	img {
		padding: 1rem;
	}
}

.card--partner {
	display: block;
	margin-bottom: 1rem;
	.card-footer {
		text-align: center;
		padding: .4rem .2rem;
		font-size: .8rem;
	}
}

.card--partner__small {
	border-top-left-radius: 0rem;
	padding: .2rem .4rem;
	margin: .2rem 0;
	font-weight: 800;
	border: none !important;
	.collaboratechek {
		float: right;
		material-icons {

		}
	}
}