.row__choice {
	padding: 0 1rem 2rem;
	svg {
		width: 100%;
		height: auto;
		cursor: pointer;
		transition: all .5s
	}
	svg.yes:hover path.dominant, svg.yes.active path.dominant {
		fill: $success !important;
	}
	svg.yes:hover path.clear, svg.yes.active path.clear {
		fill: white !important;
	}
	svg.maeby:hover path.dominant, svg.maeby.active path.dominant {
		// fill: $themecolor-2-muted !important;
		fill: #959595 !important;
	}
	svg.maeby:hover path.clear, svg.maeby.active path.clear {
		fill: white !important;
	}
	svg.no:hover path.dominant, svg.no.active path.dominant {
		fill: $primary !important;
	}
	svg.no:hover path.clear, svg.no.active path.clear {
		fill: white !important;
	}

	// svg.yes:hover path.simple, svg.yes.active path.simple {
	// 	fill: $success !important;
	// }
	// svg.maeby:hover path.simple, svg.maeby.active path.simple {
	// 	fill: $themecolor-2-muted !important;
	// }
	// svg.no:hover path.simple, svg.no.active path.simple {
	// 	fill: $primary !important;
	// }

	.row__choice--textresult {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 2.5rem;
		padding: .5rem 0;
		margin-top: .5rem;
		text-align: center;
		background: #fef4f4;
		span {
		}
	}

}