// Colors adjusted in: node_modules/bootstrap/scss/_variables.scss

// Base colors
$theme-colors: (
	"primary": 			#ED655F,
	"secondary": 	 	#DF2715,
	"success": 		 	#5CDA36,
	"info": 		 	#74C9E5,
	"warning": 		 	#EFBB3A,
	"danger": 		 	#DF2715
);

$primary:           	#ED655F;
$secondary:         	#DF2715;
$success:       		#5CDA36;
$info:          		#74C9E5;
$warning:       		#EFBB3A;
$danger:      		  	#DF2715;

$brand-mix:				#971A52;
$primary-strong:		#DF2715;
$primary-muted:			#FDF4F3;

$themecolor:           	$gray-400;
$themecolor-2:          #ED655F;

