// Colors adjusted in: node_modules/bootstrap/scss/_variables.scss

// Base colors
$theme-colors: (
	"primary": 			#ED655F,
	"secondary": 	 	#DF2715,
	"success": 		 	#7bd360,
	"info": 		 	#74C9E5,
	"warning": 		 	#f6e84d,
	"danger": 		 	#DF2715
);

$primary:           	#ED655F;
$secondary:         	#DF2715;
$success:       		#7bd360;
$info:          		#74C9E5;
$warning:       		#f6e84d;
$danger:      		  	#DF2715;

$brand-mix:				#971A52;
$primary-strong:		#DF2715;
$primary-muted:			#FDF4F3;

$themecolor:           	$gray-400;
$themecolor-2:          #841951;
$themecolor-2-muted:    #CB5393;

$instantietype-1:		#3ab5dd;
$instantietype-2:		#DF2715;
$instantietype-3:		#841951;
$instantietype-4:		#CB5393;

