// Colors adjusted in: node_modules/bootstrap/scss/_variables.scss

// Base colors
$brand-primary:       	#ED655F;
$brand-secondary:     	#DF2715;
$brand-success:       	#3EB57A;
$brand-info:          	#74C9E5;
$brand-warning:       	#EFBB3A;
$brand-danger:      	#DF2715;

$primary:           	#ED655F;
$secondary:         	#DF2715;
$success:       		#3EB57A;
$info:          		#74C9E5;
$warning:       		#EFBB3A;
$danger:      		  	#DF2715;

$brand-mix:				#971A52;
$primary-strong:		#DF2715;
$primary-muted:			#FDF4F3;