span.selectable {
	display: inline-block;
	padding: .5rem 1rem;
	color: black;
	transition: all .5s;
}

span.selectable--active {
	background: rgba($green, 0.4);
	margin: .5rem;
}
span.selectable--active:hover {
	background: rgba($green, 0.6);
}

span.selectable--passive {
	background: rgba($red, 0.4);
	margin: .5rem;
}
span.selectable--passive:hover {
	background: rgba($red, 0.6);
}

.clickable {
	cursor: pointer;
}

.invisible-text {
	opacity: 0;
}

.row.row__prevnext {
	margin-top: 2rem;
}

.borderless {
	border-width: 2px 0 2px 0 !important;
}

.title {
	font-weight: 800;
	border-width: 0 0 0 3px !important;
	text-align: left;
	padding: 0.5rem 0 .5rem 1rem;
}

.hidden {
	display: none;
}

.nowrap {
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.page-highlight {
	border: 1px solid $themecolor-2;
	background: rgba($themecolor-2, .07);
	padding: .7rem;
	text-align: center;
	font-weight: 800;
	color: $themecolor-2;
	border-radius: 5rem;
}

.page-highlight-secondary {
	border: 1px solid darken($info, 40%);
	background: rgba($info, .08);
	padding: .7rem;
	text-align: center;
	font-weight: 800;
	color: darken($info, 40%);
	border-radius: 5rem;
}