.flatpickr-calendar.inline {
	margin: 1rem 0;
}

.flatpickr--input {
	display: none;
}
.flatpickr-time {
	background: $primary-muted;
	input {
		font-size: 2rem;
	}
}

.flatpickr-day.selected, .flatpickr-day.selected:hover, .flatpickr-day.selected:focus {
	background: $themecolor-2;
	border-color: $themecolor-2;
}