body {
	// color: $primary;
	min-height: 100vh; 
}

main {
	flex-grow: 1;
}

.pageblock {
	padding: 1.5rem 3rem;
	background: white;
	margin-bottom: 2rem;
}

.segment {
	margin-top: 2rem;
}


.segment--welcome {

}
