.section__prepanel {
	// background: $themecolor-2-muted;
	// color: white;
	display: inline-block;
	background: rgba(203, 83, 147, 0.09019607843137255);
	color: $themecolor-2-muted;
	border: 1px solid rgba(132, 25, 81, 0.17);
	padding: .5rem;
}

.section__panel {
	border: 1px solid rgba(229,35,27,0.1);
	padding: 1rem;	

	.row {
		padding-top: 1rem;
	}

	.section__panel--title {
		box-sizing: content-box;
		padding: 1rem;
		margin-top: -1rem;
		margin-left: -1rem;
		margin-right: -1rem;
		margin-bottom: 1rem;
		width: 100%;
		background: $primary-muted;
	}
}

.section__panel__table {

	.row:nth-child(odd){
		background: $gray-100;
	}
	
}