.navbar .navbar-brand {
	// font-family: 'Oswald';
	// text-transform: uppercase;
	color: $primary;
}

.inline-title {
	display: inline-block;
}

h1.pagetitle {
	text-transform: uppercase;
	font-weight: 800;
	color: $primary-strong;
}

h1.display-1 {
	color: $primary-strong;
}

h1.warning {
	text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
	color: $primary-strong;
    border-top: 1px solid $primary-strong;
    border-bottom: 1px solid $primary-strong;
    // text-decoration: underline;
    display: block;
    width: 100%;
}

h2.subtitle {
	color: $gray-600;
}

h5 {
	color: $primary-strong;
	font-weight: 800;
}

.muted {
	color: rgba($primary, 0.5);
}

span.definition {
	color: $primary;
	text-decoration: underline;
}