.banner {
	background: white url("/img/banner-welcome2.jpg") center;
	.container--banner{
		position: relative;
		height: 350px;
		// .curve {
		// 	position: absolute;
		// 	top: 0;
		// 	left: -45%;
		// 	background-image: url(/img/curve.png);
		// 	background-position: top right;
		// 	background-repeat: no-repeat;
		// 	background-size: cover;
		// 	height: 480px;
		// 	width: 870px;
		// }
		// .siteinfo {
		// 	img {
		// 		position: absolute;
		// 		top: 20px;
		// 		width: 200px;
		// 	}
		// }
	}
}

.mainbutton--container {
	text-align: center;
	.btn {
		font-size: 1.6rem;
	}
}

.container__welcome {
	margin-top: 3rem;
	margin-bottom: 3rem;
	text-align: center;
	.subtitle {
	}
	p {
		font-size: 1.1rem;
		color: $gray-500;
		margin: 0 0 1.7rem;
	}
}