.mainbutton--container {
	text-align: center;
	.btn {
		font-size: 1.6rem;
	}
}

.container__welcome {
	margin-top: 3rem;
	margin-bottom: 3rem;
	text-align: center;
	.subtitle {
		margin-bottom: 2rem;
	}
}